# Source files
# ============
*.py     text diff=python

# Binary files
# ============
*.mp4    binary export-ignore
*.gif    binary export-ignore

# Do not export to .sublime-package
# =================================
*.gitattributes export-ignore
